/* HOME PAGE
---------------------------- */
.home-banner {
    margin-top: 5px;
    background-image: url("../Images/hero-image.webp");
    background-repeat: no-repeat;
    background-size: cover;
    height: 32vw;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
}
.home-banner span {
    background-color: white;
    padding: 15px;
    font-size: clamp(20px, 5vw, 50px);
    position: absolute;
    bottom: 15%;
}

.home-content {
    max-width: 1250px;
    margin: auto;
    padding: 8px;
}
.home-content section {
    padding: 30px;
}
.home-content section h1,
.home-content section h2 {
    font-size: clamp(35px, 9vw, 45px);
}
.home-content section p {
    font-size: 30px;
}
.category-holder, .recipe-holder, .place-holder{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.home-content section span {
    text-align: center;
}
.category-holder {
    margin-top: 60px;
    gap: 15px;
}
.category {
    display: flex;
    flex-direction: column;
}
.category img {
    margin-bottom: 30px;
    object-fit: cover;
}
.healthy-recipes {
    background-color: rgb(208, 208, 208);
}
.healthy-recipes h2 {
    background-color: rgb(208, 208, 208);
    margin-top: 0;
}
.recipe-holder {
    margin-top: 20px;
    gap: 8px;
}
.recipe {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}
.recipe img {
    object-fit: cover;
}
.recipe span {
    background-color: white;
    padding: 15px;
}
.place {
    display: flex;
    flex-direction: column;
}
.place img {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 7px;
    border-radius: 15px;
    background-color: rgb(208, 208, 208);
    object-fit: cover;
}

/* MEDIA QUERIES
---------------------------- */
@media (max-width: 1025px) {
    .home-banner {
        align-items: center;
    }
    .home-banner span {
        position: static;
        margin: 0;
    }
}
@media (max-width: 500px) {
    .healthy-recipes h2  {
        margin-top: 0;
    }
}
@media (max-width: 450px) {
    .home-content .everyday-categories,
    .home-content .where-to-eat {
        padding: 0;
        margin-bottom: 30px;
    }
    .home-content .healthy-recipes {
        padding: 15px;
    }
    .home-content section span {
        font-size: 14px;
    }
}
@media (max-width: 400px) {
    .home-content img  {
        max-width: 340px;
    }
}
@media (max-width: 434px) {
    .home-content section p {
        font-size: 25px;
    }
    .home-content section span {
        font-size: 14px;
    }
}
@media (max-width: 375px) {
    .home-content section p {
        font-size: 22px;
    }
    .home-content section span {
        font-size: 13px;
    }
}