/* RECIPE PAGE
---------------------------- */
.recipe-visual {
    background-color: rgb(208, 208, 208);
}
.recipe-banner {
    background-image: url('../Images/bengal-burger.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 5px;
    height: 34.5vw;
    min-height: 225px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.recipe-banner span {
    background-color: white;
    padding: 15px;
    font-size: clamp(20px, 5vw, 45px);
    font-weight: 500;    
    position: absolute;
    bottom: 15%;
}
.recipe-time {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;

    max-width: 1200px;
    margin: auto;
    padding: 15px 30px;
}
.recipe-time h1 {
    font-size: clamp(25px, 6vw, 38px);
    margin-bottom: 0;
}
.time-description {
    display: flex;
    font-size: clamp(18px, 4vw, 23px);
    font-weight: 750;
    margin: 15px 0 35px 0;
    flex-wrap: wrap;
    max-width: 1055px;
}
.time-description p {
    margin: 0 20px 0 0;
    width: 245px;
}
.time-description span {
    font-weight: normal;
}
.recipe-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.recipe-intro h1 {
    font-size: clamp(40px, 10vw, 50px);
    text-align: center;
    margin-bottom: 0;
}
.recipe-intro p {
    background-color: rgb(208, 208, 208);
    font-size: clamp(15px, 4vw, 28px);
    font-weight: bold;
    font-style: italic;
    color: rgb(77, 77, 77);
    padding: 40px 90px;
    text-align: center;
}
.recipe-intro .rating {
    display: flex;
    justify-content: center;
    align-items: center;
}
.recipe-intro .rating img {
    width: 190px;
    margin-right: 10px;
}
.recipe-intro .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}
.recipe-intro button {
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    font-size: 15px;
    margin-right: 60px;
    text-wrap: wrap;

}
.recipe-intro button.save-recipe {
    padding: 0 30px;
}
.recipe-intro .buttons button:hover {
    background-color: #ede9e9;
}
.recipe-intro .buttons img {
    max-width: 40px;
}
.recipe-body {
    display: flex;
    text-align: left;
    align-items: flex-start;
}
.recipe-body h2 {
    font-size: clamp(22px, 5vw, 30px);
}
.recipe-body {
    font-size: clamp(17px, 4vw, 20px);
    margin-bottom: 10px;
}
.ingredients, .directions {
    display: flex;
    flex-direction: column;
}
.ingredients {
    margin-right: 15%;
}
.ingredients ul, .directions ul, .directions ol {
    display: flex;
    flex-direction: column;
}
.recipe-intro, .recipe-body {
    max-width: 1250px;
    margin: auto;
    padding: 8px;
}
.recipe-intro, .recipe-body {
    padding: 30px;
}
.video {
    display: flex;
    justify-content: center;
    padding: 45px 0;
    margin-bottom: 15px;
}

/* MEDIA QUERIES
---------------------------- */
@media (max-width: 1025px) {
    .recipe-banner span {
        position: static;
        margin: 0;
    }
}
@media (max-width: 637px) {
    .buttons .print-recipe {
        display: none;
    }
}
@media (max-width: 809px) {
    .recipe {
        height: 350px;
        width: 350px;
    }
    .recipe-intro {
        margin: 0;
    }
}
@media (max-width: 704px) {
    .recipe-body ul, .recipe-body ol {
        padding-left: 20px;
    }
}
@media (max-width: 605px) {
    .recipe-time h1 {
        margin-top: 5px;
    }
    .time-description {
        margin: 10px 0 5px;
    }
    .recipe-intro p {
        margin: 45px 0;
        padding: 40px 45px;
    }
    .recipe-body {
        flex-direction: column;
        padding: 0 15px;
    }
    .recipe-body .ingredients {
        margin: 0;
    }
}
@media (max-width: 434px) {
    .recipe-intro p {
        padding: 30px 35px;
    }
}