/* RECIPE PAGE
---------------------------- */
.recipeVisual {
    background-color: rgb(208, 208, 208);
}
.recipePhoto {
    background-image: url('../images/bengal-burger.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.recipePhoto span {
    background-color: white;
    padding: 15px;
    margin-bottom: 3%;
    font-size: 45px;
    font-weight: 500;
}
.recipeTime {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.recipeTime h1 {
    font-size: 38px;
    margin-bottom: 0;
}
.timeText {
    display: flex;
    font-size: 23px;
    font-weight: 750;
    margin: 15px 0 35px 0;
    width: 56vw;
    flex-wrap: wrap;
}

.timeText span{
    width: 270px;
}
.timeText .timeEnd {
    font-weight: normal;
}
.recipeIntro {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.recipeIntro h1 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 0;
}
.recipeIntro p {
    background-color: rgb(208, 208, 208);
    font-size: 28px;
    font-weight: bold;
    font-style: italic;
    color: rgb(77, 77, 77);
    padding: 40px 90px;
    text-align: center;
}
.recipeIntro .rating {
    display: flex;
    justify-content: center;
    align-items: center;
}
.recipeIntro .rating img {
    width: 190px;
    margin-right: 10px;
}
.recipeIntro .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}
.recipeIntro .buttons img:hover, .recipeIntro .buttons input:hover {
    background-color: gray;
}
.recipeIntro .buttons input {
    width: 150px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    font-size: 15px;
    margin-right: 60px;
    text-wrap: wrap;

}
.recipeIntro .buttons img {
    width: 40px;
}
.recipeBody {
    display: flex;
    text-align: left;
    align-items: flex-start;
}
.recipeBody h2 {
    font-size: 30px;
}
.recipeBody h3 {
    font-size: 25p;
}
.recipeBody li {
    font-size: 20px;
    margin-bottom: 10px;
}
.ingredients, .directions {
    display: flex;
    flex-direction: column;
}
.ingredients {
    margin-right: 15%;
}
.ingredients ul, .directions ul, .directions ol {
    display: flex;
    flex-direction: column;
}
.recipeTime, .recipeIntro, .recipeBody {
    margin-left: 15%;
    margin-right: 15%;
}
.recipeIntro, .recipeBody {
    padding: 30px;
}
.video {
    display: flex;
    justify-content: center;
    padding: 45px 0;
    margin-bottom: 15px;
}

/* MEDIA QUERIES
---------------------------- */
@media (max-width: 964px) {
    .timeText {
        width: auto;
    }
}
@media (max-width: 809px) {
    .recipe {
        height: 350px;
        width: 350px;
    }
    .recipeIntro {
        margin: 0;
    }
    .recipePhoto span {
        font-size: 40px;
    }
    .recipeTime h1 {
        font-size: 27px;

    }
    .recipeTime {
        margin-right: 70px;
        margin-left: 70px;
    }
    .timeText {
        font-size: 18px;
    }
}
@media (max-width: 704px) {
    .recipePhoto span {
        font-size: 35px;
    }
    .recipeBody ul, .recipeBody ol {
        padding-left: 20px;
    }
    .recipeTime {
        margin-right: 50px;
        margin-left: 50px;
    }
    .recipeTime h1 {
        font-size: 25px;

    }
    .timeText {
        font-size: 17px;
        justify-content: space-between;
    }
    .timeText span {
        width: 200px;
    }
}
@media (max-width: 605px) {
    .recipePhoto span {
        font-size: 25px;
    }
    .recipeIntro p {
        margin: 45px 0;
        font-size: 23px;
        padding: 40px 45px;
    }
    .recipeBody {
        flex-direction: column;
        padding: 0;
    }
    .recipeBody h2 {
        font-size: 25px;
    }
    .recipeBody li {
        font-size: 18px;
    }
    .timeText span {
        width: 164px;
        font-size: 15px;
    }
}
@media (max-width: 434px) {
    .recipePhoto span {
        font-size: 22px;
    }
    .recipeIntro p {
        font-size: 19px;
        padding: 30px 35px;
    }
    .recipeBody h2 {
        font-size: 22px;
    }
    .recipeBody li {
        font-size: 16px;
    }
    .timeText span {
        width: 129px;
        font-size: 13px;
    }
}
@media (max-width: 375px) {
    .recipePhoto span {
        font-size: 20px;
    }
    .recipeTime {
        margin: 0 35px
    }
    .recipeIntro p {
        font-size: 15px;
    }
    .recipeBody h2 {
        font-size: 20px;
    }
    .recipeBody li {
        font-size: 15px;
    }
}