/* GENERAL, NAV, FOOTER
---------------------------- */
h1,
h2,
h3,
a,
li,
span {
    font-family: 'Open Sans';
}
p {
    font-family: 'Roboto';
}
h1,
p {
    text-align: left;
}
a {
    text-decoration: none;
    color: black;
}
a :hover {
    color: white;
}
a :focus {
    border-bottom: 1px solid black;
}
nav,
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: orange;
}
nav {
    padding-top: 10px;
    font-size: 20px;
    font-weight: 500;
}
nav ul,
footer ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}
nav ul,
footer span,
footer ul {
    margin: 10px 60px 5px 60px;
}
nav ul li,
footer ul li {
    margin-left: 15px;
    
}
footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 125px;
}

/* MEDIA QUERIES
---------------------------- */
@media (max-width: 809px) {
    nav, footer {
        justify-content: space-evenly;
    }
    nav {
        flex-direction: column;
    }
    nav img, nav ul, footer ul {
        margin: 10px 0;
    }
    nav ul, footer ul {
        justify-content: space-around;
        padding: 0;
    }
    nav ul li, footer ul li {
        margin: 0 10px;
    }
}
@media (max-width: 704px) {
    nav img {
        width: 175px;
    }
    footer {
        flex-wrap: wrap;
    }
}
@media (max-width: 434px) {
    nav {
        font-size: 18px;
    }
    nav img {
        width: 150px;
    }
}
@media (max-width: 375px) {
    nav {
        font-size: 16px;
    }
}

