/* GENERAL, NAV, FOOTER
---------------------------- */
h1,
h2,
h3,
a,
li,
span {
    font-family: 'Open Sans';
}
p {
    font-family: 'Roboto';
}
h1,
p {
    text-align: left;
}
li a {
    text-decoration: none;
    color: black;
}
li a:hover {
    color: white;
}
nav,
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: orange;
}
nav {
    z-index: 1;
    top: 8px;
    position: sticky;
    padding-top: 10px;
    font-size: 20px;
    font-weight: 500;
}
nav ul,
footer ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 10px 60px 5px 5px;
    padding: 0;
}

nav .mobile-nav {
    display: none;
    width: 100%;
    position: relative;
    z-index: 1;
}

nav .mobile-nav ul.mobile-menu-active {
    display: flex;
}
footer span {
    margin: 10px 20px 5px 60px;
}
footer {
    align-items: center;
    height: 125px;
    flex-wrap: wrap;
}

/* MEDIA QUERIES
---------------------------- */
@media (max-width: 842px) {
    nav, footer {
        justify-content: space-evenly;
    }
    nav {
        flex-direction: column;
    }
    nav img, nav ul, footer ul, footer span {
        margin: 10px 15px 5px
    }
    nav ul, footer ul {
        justify-content: space-around;
    }
    nav ul li, footer ul li {
        margin: 0 10px;
    }
    footer ul {
        flex-wrap: wrap;
    }
}
@media (max-width: 637px) {
    nav .desktop-nav {
        display: none;
    }
    nav .mobile-nav {
        display: flex;
        flex-direction: column;
    }
    nav .mobile-nav ul {
        display: none;
        position: absolute;
        top: 123px;
        right: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0;
    }

    nav .mobile-nav ul,
    nav .mobile-nav button {
        background-color: orange;
        margin: 0 auto;
        padding: 0;
        width: 375px;
    }
    nav .mobile-nav ul li {
        background-color: orange;
        margin: 0 auto;
        padding: 0;
        width: 100%;
        text-align: center;
    }

    nav .mobile-nav button {
        border: none;
        border-top: 0.8px solid #2d2c2a;
        padding: 5px;
    }
    nav .mobile-nav button:hover {
        cursor: pointer;
    }
    nav .mobile-nav ul li a {
        border-top: 0.8px solid #2d2c2a;
        padding: 5px 0;
    }
    nav .mobile-nav ul a {
        display: block;
        width: 100%;
    }
    nav .mobile-nav ul a:hover {
        background-color: #2d2c2a;
        color: white;
    }

}
@media (max-width: 434px) {
    nav {
        font-size: 18px;
    }
    nav .mobile-nav ul {
        top: 117px;
}
}
@media (max-width: 400px) {
    nav .mobile-nav ul,
    nav .mobile-nav button {
        width: 100%;
    }
}