/* GENERAL, NAV, FOOTER
---------------------------- */
h1,
h2,
h3,
a,
li,
span {
    font-family: 'Open Sans';
}
p {
    font-family: 'Roboto';
}
h1,
p {
    text-align: left;
}
a {
    text-decoration: none;
    color: black;
}
a :hover {
    color: white;
}
nav,
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: orange;
}
nav {
    padding-top: 10px;
    font-size: 20px;
    font-weight: 500;
}
nav ul,
footer ul {
    list-style: none;
    display: flex;
    gap: 15px;
}
nav ul.mobile-nav {
    display: none;
    flex-direction: column;
}
nav ul,
footer ul {
    margin: 10px 60px 5px 5px;
    padding: 0;
}
footer span {
    margin: 10px 20px 5px 60px;
}
footer {
    display: flex;
    align-items: center;
    height: 125px;
    flex-wrap: wrap;
}

/* MEDIA QUERIES
---------------------------- */
@media (max-width:842px) {
    nav, footer {
        justify-content: space-evenly;
    }
    nav {
        flex-direction: column;
    }
    nav img, nav ul, footer ul, footer span {
        margin: 10px 15px 5px
    }
    nav ul, footer ul {
        justify-content: space-around;
    }
    nav ul li, footer ul li {
        margin: 0 10px;
    }
    footer ul {
        flex-wrap: wrap;
    }
}
@media (max-width: 637px) {
    nav ul.desktop-nav {
        display: none;
    }
    nav ul.mobile-nav {
        display: block;
    }
}
@media (max-width: 434px) {
    nav {
        font-size: 18px;
    }
}
@media (max-width: 375px) {
    nav {
        font-size: 16px;
    }
}