body {
    display: flex;
    flex-direction: column;
    text-align: center;
}
h1, p {
    text-align: left;
}
nav, footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: orange;
    width: 100%;
}
nav {
    margin-bottom: 5px;
    padding-top: 10px;
}
nav ul, footer ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}
/*nav img, */nav ul, footer span, footer ul {
    margin: 10px 60px 5px 60px;
}
nav ul li, footer ul li {
    margin-left: 15px;
}
.mainPhoto {
    background-image: url("../Images/hero-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.mainPhoto span {
    background-color: white;
    padding: 15px;
    margin-bottom: 5%;
}
.everydayCat, .healthyRecipes, .whereToEat {
    width: 100%;
    padding: 30px;
    align-items: center;
}
.everydayImages, .everydayText {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 15%;
    margin-right: 15%;
}
.everydayPhoto {
    height: 300px;
    width: 300px;
    margin: 30px 30px 15px 30px;
    background-repeat: no-repeat;
}
#everydayPhoto1 {
    background-image: url('../Images/breakfast-ideas.jpg');
}
#everydayPhoto2 {
    background-image: url('../Images/vegetarian-ideas.jpg');
}
#everydayPhoto3 {
    background-image: url('../Images/cold-weather-dinners.jpeg');
}
.everydayImages span {
    text-align: center;
}
.healthyRecipes {
    background-color: rgb(208, 208, 208);
    padding: 30px;
}
.whereToEat {
    padding: 30px;
}
footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 125px;
}