/*General, Nav, Footer*/
h1, h2, h3, a, li, span {
    font-family: 'Open Sans';
}
p {
    font-family: 'Roboto';
}
h1, p {
    text-align: left;
}
a {
    text-decoration: none;
    color: black;
}
a :hover {
    color: white;
}
nav, footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: orange;
    width: 100%;
}
nav {
    padding-top: 10px;
    font-size: 20px;
    font-weight: 500;
}
nav ul, footer ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}
nav ul, footer span, footer ul {
    margin: 10px 60px 5px 60px;
}
nav ul li, footer ul li {
    margin-left: 15px;
    
}
footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 125px;
}
.imageAndText {
    display: flex;
    flex-direction: column;
}
/*Home Page*/
.mainPhoto {
    margin-top: 5px;
    background-image: url("../Images/hero-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
}
.mainPhoto span {
    background-color: white;
    padding: 15px;
    margin-bottom: 5%;
    font-size: 50px;
}

.everydayCat, .healthyRecipes, .whereToEat {
    
    padding: 30px;
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
}
.everydayCat h1, .healthyRecipes h1, .whereToEat h1 {
    font-size: 45px;
}
.everydayCat p, .healthyRecipes p, .whereToEat p {
    font-size: 30px;
}
.everydayImages, .healthyImages, .whereImages{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.everydayPhoto {
    height: 350px;
    width: 350px;
    margin: 30px 0;
    background-repeat: no-repeat;
}
#everydayPhoto1 {
    background-image: url('../Images/breakfast-ideas.jpg');
    background-position: 65% 50%;
    background-size: cover;
}
#everydayPhoto2 {
    background-image: url('../Images/vegetarian-ideas.jpg');
    background-position: center;
    background-size: cover;
}
#everydayPhoto3 {
    background-image: url('../Images/cold-weather-dinners.jpeg');
    background-position: center;
    background-size: cover;
}
.everydayImages span {
    text-align: center;
}
.healthyRecipes {
    background-color: rgb(208, 208, 208);
}
.healthyImages {
    display: flex;
    flex-direction: row;
}
.healthyPhoto {
    height: 275px;
    width: 275px;
    margin: 30px 0;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.healthyPhoto span {
    background-color: white;
    padding: 15px;
    text-align: center;
}
#healthyPhoto1 {
    background-image: url('../Images/fajita-peppers.jpeg');
    background-position: center;
    background-size: cover;
}
#healthyPhoto2 {
    background-image: url('../Images/muffins.jpeg');
    background-position: center;
    background-size: cover;
}
#healthyPhoto3 {
    background-image: url('../Images/eggplant-parmesan.jpg');
    background-position: center;
    background-size: cover;
}
#healthyPhoto4 {
    background-image: url('../Images/pexels-ej-agumbay-6612869.jpg');
    background-position: center;
    background-size: cover;
}
.wherePhoto {
    height: 325px;
    width: 325px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    border: 7px solid rgb(208, 208, 208);
}
#wherePhoto1 {
    background-image: url('../Images/burger.jpg');
    background-position: center;
    background-size: cover;
}
#wherePhoto2 {
    background-image: url('../Images/pizza.jpeg');
    background-position: center;
    background-size: cover;
}
#wherePhoto3 {
    background-image: url('../Images/pexels-marta-dzedyshko-7693917.jpg');
    background-position: center;
    background-size: cover;
}
/*Recipe Page*/
.recipeVisual {
    background-color: rgb(208, 208, 208);
}
.recipePhoto {
    background-image: url('../Images/bengal-burger.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.recipePhoto span {
    background-color: white;
    padding: 15px;
    margin-bottom: 3%;
    font-size: 45px;
    font-weight: 500;
}
.recipeTime {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.recipeTime h1 {
    font-size: 38px;
    margin-bottom: 0;
}
.timeText1, .timeText2 {
    display: flex;
    flex-direction: row;
    font-size: 23px;
    font-weight: 750;
    margin-top: 15px;
}
.timeText2 {
    margin-bottom: 35px;
}
.timeText1 span, .timeText2 span {
    width: 270px;
}
.timeText1 .timeEnd, .timeText2 .timeEnd {
    font-weight: normal;
}
.recipeIntro {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.recipeIntro h1 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 0;
}
.recipeIntro p {
    background-color: rgb(208, 208, 208);
    font-size: 28px;
    font-weight: bold;
    font-style: italic;
    color: rgb(77, 77, 77);
    padding: 40px 90px;
    text-align: center;
}
.recipeIntro .rating {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.recipeIntro .rating img {
    width: 190px;
    margin-right: 10px;
}
.recipeIntro .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.recipeIntro .buttons img:hover, .recipeIntro .buttons input:hover {
    background-color: gray;
}
.recipeIntro .buttons input {
    width: 150px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    font-size: 15px;
    margin-right: 60px;
    text-wrap: wrap;

}
.recipeIntro .buttons img {
    width: 40px;
}
.recipeBody {
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: flex-start;
}
.recipeBody h2 {
    font-size: 30px;
}
.recipeBody h3 {
    font-size: 25p;
}
.recipeBody li {
    font-size: 20px;
    margin-bottom: 10px;
}
.ingredients, .directions {
    display: flex;
    flex-direction: column;
}
.ingredients {
    margin-right: 15%;
}
.ingredients ul, .directions ul, .directions ol {
    display: flex;
    flex-direction: column;
}
.recipeTime, .recipeIntro, .recipeBody {
    margin-left: 15%;
    margin-right: 15%;
}
.recipeIntro, .recipeBody {
    padding: 30px;
}
.video {
    display: flex;
    justify-content: center;
    background-color: rgb(208, 208, 208);
    padding: 45px 0;
    margin-bottom: 15px;
}
/*@media queries */
@media (max-width: 1554px) {
    .everydayCat span,  .healthyRecipes span, .whereToEat span {
        text-align: center;
    }
}
@media (max-width: 809px) {
    nav, footer {
        justify-content: space-evenly;
    }
    nav {
        flex-direction: column;
    }
    nav img, nav ul, footer ul {
        margin: 10px 0;
    }
    nav ul, footer ul {
        justify-content: space-around;
        padding: 0;
    }
    nav ul li, footer ul li {
        margin: 0 10px;
    }
    .healthyPhoto {
        height: 350px;
        width: 350px;
    }
    .recipeIntro {
        margin: 0;
    }
}
@media (max-width: 704px) {
    .mainPhoto span, .recipePhoto span {
        font-size: 35px;
    }
    footer {
        flex-wrap: wrap;
    }
    .recipeBody ul, .recipeBody ol {
        padding-left: 20px;
    }
}
@media (max-width: 605px) {
    .mainPhoto span, .recipePhoto span {
        font-size: 25px;
    }
    .everydayCat, .healthyRecipes, .whereToEat {
        margin: 0;
    }
    .recipeIntro p {
        margin: 45px 0;
        font-size: 25px;
        padding: 40px 45px;
    }
    .recipeBody {
        flex-direction: column;
    }
}
@media (max-width: 434px) {
    .mainPhoto span, .recipePhoto span {
        font-size: 22px;
    }
    .everydayCat h1, .everydayCat p, .everydayCat span,  .healthyRecipes h1, .healthyRecipes p, .healthyRecipes span,  .whereToEat h1, .whereToEat p, .whereToEat span {
        text-align: center;
    }
    .recipeIntro p {
        font-size: 22px;
        padding: 30px 35px;
    }
}
@media (max-width: 375px) {
    nav {
        font-size: 17px;
    }
    .mainPhoto span {
        font-size: 20px;
    }
    .recipePhoto span {
        font-size: 20px;
    }
    .everydayCat, .healthyRecipes, .whereToEat {
    
        padding: 15px;
    }

}

